matrix:
    include:
        - os: linux
          sudo: required
          dist: trusty
          language: generic
        - os: osx
          language: generic
          osx_image: xcode7.3

cache:
  directories:
    - release

install: true
script:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then ./reproducible_build.sh -t; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then ./reproducible_build_osx.sh -t; fi

